<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/styles.css">
   <script src="js/jquery-1.11.2.min.js"></script>
   <script src="js/bootstrap.min.js"></script>

   <script src="js/bootstrap.js"></script>
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/bootstrap.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/maincssfile.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
   <script src="js/script.js"></script>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

                <script src="jquery.js"></script>
   <link rel="stylesheet" href="nCss.css" type="text/css">
    <style type="text/css">
   body { background: url('images/gs.png');
    /*background = gradient + image pattern combo*/
        background:
            linear-gradient(to right,rgba(196, 102, 0, 0.2), rgba(155, 89, 182, 0.2)),
            url('images/gs.png');
            font-family: 'Bitter', serif;
}
</style>

<title>سامانه خرید بلیت اینترنتی صنم</title>

</head>
<body dir='rtl'>
<!-- above header-->
<div id='aboveHeader'>
    <div class = "table-responsive">
        <table class="table" width="100%">
            <tr>
                <td width="73%">
                    <h1><img id="logo"src="images/logo.png"></h1>
                </td>
                <td>
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
                        <img src="flower.jpg" class="img-circle special-img" style="width: 30px;height: 30px;"><span style="color: black"> فروغ</span><b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="UserN.html"><i class="fa fa-cog"></i> حساب کاربری</a></li>
                        <li class="divider"></li>
                        <li><a href="index.html"><i class="fa fa-sign-out"></i> خروج</a></li>
                    </ul>
                </div>
                <br />
                <br />

        <form class="navbar-form navbar-left" role="search" margin="0px" border="0px">
                <span class="input-group">
                    <input type="text" class="form-control" placeholder="جست و جو">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </span>
        </form>
                </td>
            </tr>
        </table>
    </div>

</div>
<style>
     body { background-color:rgba(255,0,0,0); }
</style>

<div id='cssmenu' dir='rtl'>
<ul>
   <li class='active has-sub'><a href='MainPageAfterLogin.html'><span>خانه</span></a></li>
   <li><a href='#'><span>موسیقی</span></a>
      <ul>
          <li><a href="SearchForN.html">پاپ</a></li>
          <li><a href="SearchForN.html">سنتی</a></li>
          <li><a href="SearchForN.html">راک</a></li>
          <li><a href="SearchForN.html">تلفیقی</a></li>
          <li><a href="SearchForN.html">محلی</a></li>
          <li><a href="SearchForN.html">کلاسیک</a></li>
      </ul>
   </li>

   <li><a href='#'><span>ورزشی</span></a>
 <ul>
	 <li><a href="SearchForN.html">ورزش های موتوری</a></li>
	 <li><a href="SearchForN.html">ورزش های صحرایی</a></li>
	 <li><a href="SearchForN.html">ورزش های قدرتی</a></li>
	 <li><a href="SearchForN.html">ورزش های راکتی</a></li>
	 <li><a href="SearchForN.html">ورزش های گروهی</a></li>
	 <li><a href="SearchForN.html">وورزش های فکری</a></li>
	 <li><a href="SearchForN.html">ورزش های آبی</a></li>
	 <li><a href="SearchForN.html">ورزش های هوایی</a> </li>
	 <li><a href="SearchForN.html">ورزش های نشانه روی</a></li>
 </ul>
 </li>

      <li><a href='#'><span>هنر</span></a>
      <ul>
          <li><a href="SearchForN.html">تئاتر</a></li>
          <li><a href="SearchForN.html">سینما</a></li>
          <li><a href="SearchForN.html">نمایش کمدی</a></li>
          <li><a href="SearchForN.html">نمایش خیابانی</a></li>
          <li><a href="SearchForN.html">نمایشگاه آثار</a></li>
      </ul>
   </li>

      <li ><a href='#'><span>خانوادگی</span></a>
      <ul>
          <li><a href="SearchForN.html">سیرک</a></li>
          <li><a href="SearchForN.html">موسیقی کودکان</a></li>
          <li><a href="SearchForN.html">تئاتر کودک</a></li>
          <li><a href="SearchForN.html">شعبده بازی</a></li>
          <li><a href="SearchForN.html">نمایشگاه ها و فستیوال‌ها</a></li>
      </ul>
   </li>

   <li><a href='AboutAfterLogin.html'><span>درباره ما</span></a></li>
</ul>
</div>



<!--end of above header-->

<!--nazaninStart-->

<!-- Fist part-->
<div class="panel panel-default" >
  <div class="panel-body">
    <table>
    	<tr>
    		<td width="30%">
    			<img width="150px"src="flower.jpg">
    		</td>
    		<td>
    			<p>
    				<h2 style="font-family:aharoni;font-size:25;"><strong> فروغ</strong></h2>
    			</p>
                   
    		</td>
    	</tr>
    </table>
  </div>
</div>
<!-- control part-->
<div class="panel panel-default">
  <div class="panel-body">
    
    <div id="ProfileTab">
<div id='cssmenu'>
<ul>
  <li class='active has-sub'><a data-toggle="tab" href="#personalInfo"><span>اطلاعات شخصی</span></a></li>
  <li ><a data-toggle="tab" href="#tickets"><span>بلیت ها</span></a></li>
</ul>
</div>
<div class="tab-content">
  
  <div id="tickets" class="tab-pane fade">
    <h3>بلیت ها</h3>
     <table class="table table-condensed" >
    <thead>
      <tr >
        <th>شماره بلیت</th>
        <th>رویداد</th>
		<th>دسته</th>
		<th>زیردسته</th>
		<th>قیمت</th>
        <th>تاریخ</th>
		 <th>زمان</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>652856</td>
        <td>تهران</td>
        <td>هنر</td>
		<td>تئاتر</td>
		<td>32$</td>
		<td>2015/2/5</td>
		<td>18:00</td>
      </tr>

      <tr>
        <td>524565</td>
        <td>سیرک تهارن</td>
        <td>خانوادگی</td>
		<td>سیرک</td>
		<td>26$</td>
		<td>2015/5/8</td>
		<td>20:30</td>
      </tr>

    </tbody>

  </table>
</div>

   <div id="personalInfo" class="tab-pane fade in active">
    <h3>اطلاعات شخصی</h3>
    <table class="table table-condensed">
<tr>
 
		  <td>
		   		<b>  نام کاربری </b>
		  </td>
		   <td>
		   		فروغ
		  </td>
  </tr>
  <tr>
  <td>
  	 <b>اسم  </b></td>
	 <td>فروغ
	</td>
	</tr>
 <tr>
  <td>
  	 <b>نام خانوادگی </b></td>
	 <td>میرکریمی
	</td>
	</tr>
	<tr>
  <td>
  	 <b> جنسیت </b></td>
	 <td>زن
	</td>
	</tr>
	<tr>
  <td>
  	 <b>آدرس ایمیل </b></td>
	 <td>Bodnik.M@yahoo.com
	</td>
	</tr>
	<tr>
  <td>
  	 <b>تلفن </b></td>
	 <td>555-66-77
	</td>
	</tr>
	 <tr>
  <td>
   <b>	آدرس </b>
   </td>
   <td>PO Box 1230
Georgetown
Grand Cayman
CAYMAN ISLANDS - UK
	</td>
	</tr>
	
</table>
 <button onclick="window.location.href='\UserN-edit.html'">ویرایش</button>
<p>
<br><br><br></p>
  </div>
</div>
</div>
    
  </div>
</div>
<!-- footer -->
    <hr>
   <div class="navbar navbar-bottom" style="margin: 0px;padding-left: 42%">
            <span class="navbar-text" style="color: white">
                © صنم. همه حقوق این سامانه متعلق به گروه صنم است.
            </span>
    </div>

<!--nazaninEnd-->
</body>
<html>
