
.panel-default{
max-width:900px;
margin-left:auto;
 margin-right:auto;
  background: url('images/gs.png');
    /*background = gradient + image pattern combo*/
    background:
    linear-gradient(to right,rgba(255, 163, 163, 0.4), rgba(255, 102, 102, 0.4)),
    url('images/gs.png');
 }
 
 input[type="text"],input[type="password"], textarea {

  background-color : #d1d1d1; 

}