{% extends "header.html" %}
{% load staticfiles %}
    {% block main %}

         <!-- describtion tag -->
            <h4 style="color: white;text-align: justify">درباره ما</h4>
            <div style="width: 100%;margin-top: 2%;margin-left: auto;margin-right: auto;color: white;overflow: auto">

               اين گروه فعالیت خود را از سال 1393 آغاز کرد..
               <br>
 هدف ما ایجاد امکان خرید بلیت کلیه رویداد های ایران از طریق این وب سایت است.
 <br>

خواهشمندیم انتقادات و پیشنهادات خود را از طریق contact@sanam.ir با ما درمیان بگذارید.
<br>


            </div>

    {% endblock %}