{% extends "headerAfterLogin.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" href="{% static "nCss.css" %}" type="text/css">
{% endblock %}
{% block main %}
    <style type="text/css">
 body { background-color:rgba(255,0,0,0); }
</style>

<div class="floated_right">
<div class="panel panel-default" >
  <div class="panel-body">
    <table>
    	<tr>
    		<td width="30%">
                {% with MEDIA_URL|add:request.user.userProfile.photo.url as urll %}
    			    <img width="150px"src="{{ urll }}">
                {% endwith %}
    		</td>
    		<td>
    			<p>
    				<h2 style="font-family:aharoni;font-size:25px;"><strong>{{request.user.username }}</strong></h2>
    			</p>
                   
    		</td>
    	</tr>
    </table>
  </div>
</div>
<!-- control part-->
<div class="panel panel-default">
  <div class="panel-body">

    <div id="ProfileTab">
<div id='cssmenu'>
<ul>
  <li class='active has-sub'><a data-toggle="tab" href="#EventOrg"><span>صاحبان رویداد</span></a></li>
  <li ><a data-toggle="tab" href="#events"><span>گزارش رویداد ها</span></a></li>


</ul>
</div>
<div class="tab-content" style="background-color: rgba(0,0,0,0)">
  
  <div id="events" class="tab-pane fade">
    <h3>گزارش رویداد</h3>
<form class="myForm" action="adminsearch" method="post" >
    {% csrf_token %}
<table><tr>
<td><span>از </span></td>
<td><input style="width:90%;" value="2015-11-30" name='first' type='date' class="form-control" placeholder="Date de naissance"/></td>
<td><span>تا </span></td>
<td><input style="width:90%;"value="2015-11-30" name='last' type='date' class="form-control" placeholder="Date de naissance"/></td>
<td><input type="submit" value="جست و جو"></td>
</tr></table>
</form>

 <table class="table table-condensed" >
    <thead>
      <tr >
        <th>شماره رویداد</th>
        <th>نام رویداد</th>
		<th>زیر دسته</th>
        <th>تاریخ شروع</th>
        <th>تعداد بلیت فروخته شده</th>
        <th>تعداد بلیت مانده</th>
		<th>درآمد کل</th>
      </tr>
    </thead>

    <tbody>
    {% for event in events %}
      <tr>
        <td>{{ event.pk }}</td>
        <td>{{ event.title }}</td>
        <td>{{ event.subcategory.name }}</td>
		<td>{{ event.startTime }}</td>
		{% for key, value in  sell.items %}
		    {% if key == event %}
                <td>{{ value }}</td>
            {% endif %}
		{% endfor %}
		{% for key, value in  unsell.items %}
		    {% if key == event %}
                <td>{{ value }}</td>
            {% endif %}
		{% endfor %}
        {% for key, value in  cost.items %}
		    {% if key == event %}
                <td>{{ value }}</td>
            {% endif %}
		{% endfor %}
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>

   <div id="EventOrg" class="tab-pane fade in active">
   <h3>برگزار کننده</h3>
     <table class="table table-condensed" >
    <thead>
      <tr >
        <th>نام کاربری</th>
        <th>نام کامل</th>
		<th>آدرس ایمیل</th>
		<th>تلفن</th>
		<th>مکان</th>
        <th>آدری</th>
		 <th>رویدادها</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>سیرک تهران</td>
        <td>سیرک تهران برای همه</td>
        <td>TehranCircus@Gmail.com</td>
		<td>555-66-77</td>
		<td>Tehran,Iran</td>
		<td>بزرگراه نواب، تهران</td>
		<td>56</td>
      </tr>

      <tr>
          <td>ایران فیلم</td>
        <td>شرکت ایران فیلم</td>
        <td>IranMovie@Gmail.com</td>
		<td>356-56-78</td>
		<td>تهران،ایران</td>
		<td>بزرگراه الغدیر</td>
		<td>34</td>
      </tr>

    </tbody>

  </table>
  </div>

  </div>
</div>
    
  </div>
</div>
    </div>
{% endblock %}
