{% extends "headerAfterLogin.html" %}
{% load staticfiles %}
{% block head %}

{% endblock %}

{% block main %}
    <style xmlns="http://www.w3.org/1999/html">
        body {
            background-color: rgba(255, 0, 255, 0);
        }

    </style>
    <!-- start -->

    <div class="panel panel-default" style="border: none" style="width: 400px">
        <div class="panel-heading">
            <h1 class="panel-title" style="font-size: 30px"> لیست رویداد ها </h1>
        </div>
        <table>
            <tr>
                    <th>
                        عنوان
                    </th>

                    <th>
                        آدرس
                    </th>

                    <th>
                        نام زیر دسته
                    </th>
                    <th>
                       تاریخ اتمام
                    </th>
                    <th>
                       تاریخ شروع
                    </th>


                    <th>
                        نام کاربری فروشنده
                    </th>
                    <th>
                       توضیح رویداد
                    </th>


                    <th>
                       حذف
                    </th>
                    <th>
                        ویرایش
                    </th>
                </tr>

            {% for event in events %}
                <tr>
                    <th>
                        {{ event.title }}
                    </th>

                    <th>
                        {{ event.address }}
                    </th>

                    <th>
                        {{ event.subcategory.name }}
                    </th>
                    <th>
                        {{ event.endDate }}
                    </th>
                    <th>
                        {{ event.startTime }}
                    </th>


                    <th>
                        {{ event.seller.username }}
                    </th>
                    <th>
                        {{ event.dscp }}
                    </th>


                    <th>
                        <a href="/events/remove/{{ event.pk }}">حذف</a>
                    </th>
                    <th>
                        <a href="/events/edit/{{ event.pk }}">ویرایش </a>
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>



{% endblock %}



