{% extends "header.html" %}
{% load staticfiles %}

{% block main %}
    <!-- end of side bar-->
    <!-- here is the start of the main part of the page-->
    <div class="floated_right">

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                {% for event in topevents %}
                    {% if forloop.first %}
                        <div class="item active">

                            <img src="{{ MEDIA_ROOT }}{{ event.EventImage.url }}" alt="football">

                        </div>
                    {% else %}
                        <div class="item">
                            <img src="{{ MEDIA_ROOT }}{{ event.EventImage.url }}" alt="football">
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
        <!-- here is the start of the main part of the page-->
        <!-- here is the start of tab design-->
        <ul class="nav nav-tabs navbar-right" style="margin-top: 1%; height: 10%">
            <li class="active"><a data-toggle="tab" href="#menu1"><b>رویداد های پر طرفدار</b></a></li>
            <li><a data-toggle="tab" href="#menu2"><b>رویداد های جدید</b></a></li>
        </ul>
        <br>
        <br>
        <br>

        <div class="tab-content" style="height: 39%">
            <div id="menu1" class="tab-pane fade in active">
                {% for event in topevents %}
                    <div><a href="EventPage.html"><span style="color: white">{{ event }}</span></a></div>
                {% endfor %}
            </div>
            <div id="menu2" class="tab-pane fade">
                {% for ev in latest %}
                    <div><a href="EventPage.html"><span style="color: white"> {{ ev }}</span></a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Recommended events -->
    </div>

{% endblock %}