<!doctype html>
<html lang=''>
<head>
   <meta charset='utf-8'>
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="css/styles.css">
   <script src="js/jquery-1.11.2.min.js"></script>
   <script src="js/bootstrap.min.js"></script>

   <script src="js/bootstrap.js"></script>
   <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/bootstrap.css">

   <script src="js/script.js"></script>
   <title>Sanama!</title>
</head>
<body>
<!-- above header-->
<div id='aboveHeader'>
<table width="100%">
   <tr>
      <td width="73%">
            <h1><img id="logo"src="images/logo.png"></h1>      
      </td>
      <td>
         <div>
         <strong>Welcome!</strong>
            
         </div>
         <span id="mahsa">
            <a href="">
               <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
               Login
            </a>
         </span>
         ||
         <span>
            <a href="">
               <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
               Don't have an account?!Sign up :)
            </a>
         </span>
         <br />
         <br>

         <form class="navbar-form navbar-left" role="search" margin="0px" border="0px">
                <span class="input-group">
                    <input type="text" class="form-control" placeholder="Search..." onClick="location.href='search.html'">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </span>
                   <button class="btn btn-primary">   
                     <span class="glyphicon glyphicon-shopping-cart"></span>
                     Bag
                  </button>
         </form>



            
      </td>
   </tr>
</table>
</div>
<div id='cssmenu'>
<ul>
   <li class='active has-sub'><a href='#'><span>Home</span></a></li>
   <li><a href='#'><span>Music</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Blues</span></a></li>
         <li class='has-sub'><a href='#'><span>Classical</span></a></li>
         <li class='has-sub'><a href='#'><span>Country</span></a></li>
         <li class='has-sub'><a href='#'><span>electronics</span></a></li>
         <li class='has-sub'><a href='#'><span>Pop</span></a></li>
      </ul>
   </li>

   <li><a href='#'><span>Sport</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Blues</span></a></li>
         <li class='has-sub'><a href='#'><span>Classical</span></a></li>
         <li class='has-sub'><a href='#'><span>Country</span></a></li>
         <li class='has-sub'><a href='#'><span>electronics</span></a></li>
         <li class='has-sub'><a href='#'><span>Pop</span></a></li>
      </ul>
   </li>

      <li><a href='#'><span>Art</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Blues</span></a></li>
         <li class='has-sub'><a href='#'><span>Classical</span></a></li>
         <li class='has-sub'><a href='#'><span>Country</span></a></li>
         <li class='has-sub'><a href='#'><span>electronics</span></a></li>
         <li class='has-sub'><a href='#'><span>Pop</span></a></li>
      </ul>
   </li>

      <li ><a href='#'><span>Family</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Blues</span></a></li>
         <li class='has-sub'><a href='#'><span>Classical</span></a></li>
         <li class='has-sub'><a href='#'><span>Country</span></a></li>
         <li class='has-sub'><a href='#'><span>electronics</span></a></li>
         <li class='has-sub'><a href='#'><span>Pop</span></a></li>
      </ul>
   </li>

   <li ><a href='#'><span>About</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
   
</ul>
</div>
<!--end of above header-->

<!--nazaninStart-->
<style type="text/css">
   body { background-color:rgba(255,0,0,0); }
</style>
<!-- Fist part-->
<div class="panel panel-default" style="max-width:900px;margin-left:auto; margin-right:auto;">
  <div class="panel-body">
    <table>
    	<tr>
    		<td width="30%">
    			<img width="100px"src="images/avatar1.jpg">
    		</td>
    		<td>
    			<p>
    				<h2><strong>@</strong>  username</h2>
    			</p>
    		</td>
    	</tr>
    </table>
  </div>
</div>
<!-- control part-->
<div class="panel panel-default" style="max-width:900px;margin-left:auto; margin-right:auto;">
  <div class="panel-body">
    
    <div id="ProfileTab">
<div id='cssmenu'>
<ul>
  <li class='active has-sub'><a data-toggle="tab" href="#personalInfo"><span>Personal Information</span></a></li>
  <li ><a data-toggle="tab" href="#tickets"><span>Tickets</span></a></li>
</ul>
</div>
<div class="tab-content">
  
  <div id="tickets" class="tab-pane fade">
    <h3>Tickets</h3>
     <table class="table table-condensed" >
    <thead>
      <tr >
        <th>ID</th>
        <th>Event</th>
        <th>Date</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>123456</td>
        <td>National Muesem</td>
        <td>2015/2/5</td>
      </tr>

      <tr>
        <td>524565</td>
        <td>Movie</td>
        <td>2015/5/8</td>
      </tr>

    </tbody>

  </table>
</div>

   <div id="personalInfo" class="tab-pane fade in active">
    <h3>Personal Information</h3>
    <table class="table table-condensed">
<tr>
 
		  <td>
		   		<b>  Username: </b>
		  </td>
		   <td>
		   		UUU
		  </td>
  </tr>
  <tr>
  <td>
  	 <b>Name:  </b></td>
	 <td>NNNN
	</td>
	</tr>
 <tr>
  <td>
  	 <b>Family Name: </b></td>
	 <td>FFFF
	</td>
	</tr>
	 <tr>
  <td>
   <b>	Address:  </b>
   </td>
   <td>AA BB CC DD EE FF
	</td>
	</tr>
	 <tr>
  <td>
  	 <b>Other Info... </b>
	</td>
	<td></td>
	</tr>
	
</table>
<p>
<br><br><br></p>
  </div>
</div>
</div>
    
  </div>
</div>




<!--nazaninEnd-->
</body>
<html>
