{% extends "header.html" %}
{% load staticfiles %}

    <!-- multistep form -->
<form id="msform">
	<!-- progressbar -->
	<ul id="progressbar">
		<li class="active">تنظیمات حساب کاربری</li>
		<li>مشخصات شخصی</li>
	</ul>
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">ایجاد حساب کاربری</h2>
		<h3 class="fs-subtitle">گام اول</h3>
		<input type="text" id='email' name="email" placeholder="آدرس ایمیل" />
    <div id="erroremail"></div>
		<input type="text" id="username" name="username" placeholder="نام کاربری" />
    <div id="errorusername"></div>
		<input type="password" id='password' name="pass" placeholder="رمز عبور" />
    <div id="errorpass"></div>
		<input type="password" id='cpassword' name="cpass" placeholder="تایید رمز عبور" />
		<input type="button" name="next" class="next action-button" value="بعدی" />
	</fieldset>
	<fieldset>
		<h2 class="fs-title">اطلاعات شخصی</h2>
		<h3 class="fs-subtitle">آن را نمی فروشیم!!!</h3>
		<input type="text" id='fname' name="fname" placeholder="نام" />
    <div id="errorfname"></div>
		<input type="text" id='lname' name="lname" placeholder="نام خانوادگی" />
    <div id="errorlname"></div>
		<input type="text" id="phone" name="phone" placeholder="شماره تماس" />
    <div id="errorphone"></div>
		<textarea name="address" id='address' placeholder="آدرس"></textarea>
    <div id="erroraddress"></div>
		<input type="button" name="previous" class="previous action-button" value="قبلی" />
		<input type="submit" name="submit" class="submit action-button" value="ارسال" />
	</fieldset>
</form>


