{% extends "header.html" %}
{% load staticfiles %}
{% block main %}
    <!-- multistep form -->
<form id="msform" style="background-color: rgba(0,0,0,0);" action="/login/" method="post">
    {% csrf_token %}
	<!-- fieldsets -->
	<fieldset>
		<h2 class="fs-title">اطلاعات ورود خود را وارد کنید.</h2>
		
		<input type="text" name="username" placeholder="نام کاربری" />
		<input type="password" name="pass" placeholder="رمز عبور" />

		<input type="button" name="forget" class="forget action-button" value="فراموش کردید؟" />
		<input type="submit" name="submit" class="submit action-button" value="ورود" />

	</fieldset>
</form>
{% endblock %}