{% extends "headerAfterLogin.html" %}
{% load staticfiles %}
{% block head %}

{% endblock %}

{% block main %}
    <style xmlns="http://www.w3.org/1999/html">
        body {
            background-color: rgba(255, 0, 255, 0);
        }

    </style>
    <!-- start -->

    <div class="panel panel-default" style="border: none" style="width: 400px">
        <div class="panel-heading">

            <h1 class="panel-title" style="font-size: 30px"> لیست زیردسته ها</h1>
        </div>
                <h4>
                <a href="subcategory/add">
                    افزودن زیر دسته
                </a>
            </h4>
        <table>
            {% for subcategory in subcategories %}
            <tr>
                <th>
                    {{ subcategory.name }}-
                </th>
                                <th>
                    {{ subcategory.superCategory.name }}-
                </th>
                <th>
                    <a href="/subcategory/remove/{{ subcategory.pk }}">حذف</a>
                </th>
                <th>
                    -
                </th>
                <th>
                    <a href="/subcategory/edit/{{ subcategory.pk }}">ویرایش</a>
                </th>
            </tr>
            {% endfor %}
         </table>
    </div>



{% endblock %}



