{% extends "headerAfterLogin.html" %}
{% load staticfiles %}
{% block main %}

    <form action="/Pardakht/{{ ev_id }}" method="post">
        {% csrf_token %}
        <table style="text-align: center">
            <thead style="color: white">
                <tr>
                    <th>نوع بلیط</th>
                    <th>قیمت</th>
                    <th>تعداد</th>
                </tr>
            </thead>
            {% for field in ev.ticktype.all %}
                <tr>
                    <td style="color: white"><label for="{{ field.title }}" style="color: white;direction: rtl"> {{ field.title }} </label></td>
                    <td style="color: white">{{ field.price }} تومان</td>
                    <td><input id="{{ field.title }}" type="number" name="{{ field.title }}" value="0"></td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <input type="submit" value=" پرداخت ">
                </td>
            </tr>
        </table>
    </form>

{% endblock %}