{% extends "headerAfterLogin.html" %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static "nCss.css"%}" type="text/css">
{% endblock %}

<!-- First part-->

{% block main %}
    <style type="text/css">
        body#body {
            background-color: rgba(255, 0, 0, 0);
        }
    </style>

    <div class="panel panel-default" margin-left="100px">
        <div class="panel-body">
            <table>
                <tr>
                    <td width="30%">
                        {% with MEDIA_URL|add:request.user.userProfile.photo.url as urll %}
                            <img width="150px" src="{{ urll }}" class="img-circle special-img">
                        {% endwith %}

                    </td>
                    <td>
                        <p>

                        <h2 style="font-family:aharoni;font-size:25;"><strong>{{ request.user.username }}</strong></h2>
                        <h3><a href="/events"> رویدادها</a> </h3>
                        <h3><a href="/category">  دسته ها  </a> </h3>
                        <h3><a href="/subcategory"> یر دسته ها </a> </h3>

                        </p>

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- control part-->
    <div class="panel panel-default">
        <div class="panel-body">

            <div id="ProfileTab">
                <div id='cssmenu'>
                    <ul>
                        <li class='active has-sub'><a data-toggle="tab" href="#EventOrg"><span>صاحبان رویداد</span></a>
                        </li>
                        <li><a data-toggle="tab" href="#events"><span>گزارش رویداد ها</span></a></li>


                    </ul>
                </div>
                <div class="tab-content">

                    <div id="events" class="tab-pane fade">
                        <h3>گزارش رویداد</h3>

                        <form class="myForm">
                            <table>
                                <tr>
                                    <td><span>از </span></td>
                                    <td><input style="width:90%;" value="2015-11-30" name='birthdate' type='date'
                                               class="form-control" placeholder="Date de naissance"/></td>
                                    <td><span>تا </span></td>
                                    <td><input style="width:90%;" value="2015-11-30" name='birthdate' type='date'
                                               class="form-control" placeholder="Date de naissance"/></td>
                                    <td>
                                        <button>جست و جو</button>
                                    </td>
                                </tr>
                            </table>
                        </form>

                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>شماره رویداد</th>
                                <th>نام رویداد</th>
                                <th>دسته</th>
                                <th>زیر دسته</th>
                                <th>بلیت های فروخته شده</th>
                                <th>بلیت های فروخته نشده</th>
                                <th>کل قیمت فروخته شده</th>
                                <th>تاریخ</th>
                                <th>زمان</th>
                                <th>شرایط</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>652856</td>
                                <td>غرور و تعصب</td>
                                <td>هنر</td>
                                <td>فیلم</td>
                                <td>156</td>
                                <td>44</td>
                                <td>5624$</td>
                                <td>2015/2/5</td>
                                <td>17:00</td>
                                <td>پذیرفته شده</td>
                                <td>
                                    <button>تایید</button>
                                </td>
                            </tr>

                            <tr>
                                <td>524565</td>
                                <td>نمایش شیر</td>
                                <td>خانوادگی</td>
                                <td>سیرک</td>
                                <td>111</td>
                                <td>91</td>
                                <td>3250$</td>
                                <td>2015/5/8</td>
                                <td>16:20</td>
                                <td>در انتظار</td>
                                <td>
                                    <button>تایید</button>
                                </td>
                            </tr>

                            </tbody>

                        </table>
                    </div>

                    <div id="EventOrg" class="tab-pane fade in active">
                        <h3>برگزار کننده</h3>
                        <table class="table table-condensed">
                            <thead>
                            <tr>
                                <th>نام کاربری</th>
                                <th>نام کامل</th>
                                <th>آدرس ایمیل</th>
                                <th>تلفن</th>
                                <th>مکان</th>
                                <th>آدری</th>
                                <th>رویدادها</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>سیرک تهران</td>
                                <td>سیرک تهران برای همه</td>
                                <td>TehranCircus@Gmail.com</td>
                                <td>555-66-77</td>
                                <td>Tehran,Iran</td>
                                <td>بزرگراه نواب، تهران</td>
                                <td>56</td>
                            </tr>

                            <tr>
                                <td>ایران فیلم</td>
                                <td>شرکت ایران فیلم</td>
                                <td>IranMovie@Gmail.com</td>
                                <td>356-56-78</td>
                                <td>تهران،ایران</td>
                                <td>بزرگراه الغدیر</td>
                                <td>34</td>
                            </tr>

                            </tbody>

                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}

